<footer>
  <div class="footer-midia">
    <a href="/redirect/github" target="__blank">
      <img src="/images/github.svg" alt="My Github Page" />
    </a>
    <a href="/redirect/linkedin" target="__blank">
      <img src="/images/linkedin.svg" alt="My LinkedIn Page" />
    </a>
    <a href="mailto:hartye.lilith@gmail.com" target="__blank">
      <img src="/images/mail.svg" alt="Contact me" />
    </a>
    <a href=""></a>
  </div>
  <div class="copy">&copy; <span class="date"></span> Hartye</div>
</footer>
